@font-face {
    font-family:'Playboy Visuelt';
    src:url(/pb/public/fonts/PlayboyVisuelt-Light.woff2) format("woff2") ,
    url(../fonts/PlayboyVisuelt-Light.woff) format("woff") ,
    url(../fonts/PlayboyVisuelt-Light.svg#PlayboyVisuelt-Light) format("svg");
    font-weight:300;
    font-style:normal
}

@font-face {
    font-family:'Playboy Visuelt';
    src:url(/pb/public/fonts/PlayboyVisuelt-Regular.woff2) format("woff2") ,
    url(../fonts/PlayboyVisuelt-Regular.woff) format("woff") ,
    url(../fonts/PlayboyVisuelt-Regular.svg#PlayboyVisuelt-Regular) format("svg");
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family:'Playboy Visuelt';
    src:url(/pb/public/fonts/PlayboyVisuelt-Bold.woff2) format("woff2") ,
    url(../fonts/PlayboyVisuelt-Regular.woff) format("woff") ,
    url(../fonts/PlayboyVisuelt-Regular.svg#PlayboyVisuelt-Regular) format("svg");
    font-weight:700;
    font-style:normal
}

* {
    box-sizing: border-box;
}

:root{
    --color-1 : #000;
    --color-2 : #fff;
    --color-3 : #2d2d2d;
}

body { margin:0px; font-size: 14px; line-height: 1.5;  font-family: "Playboy Visuelt",sans-serif; }

h1, .h1 {
    font-size: 80px;
    line-height: 75px;
    text-transform: uppercase;
    color: #2d2d2d;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p{
    font-size: 15px;
    line-height: 28px;
}

video { width : 100%; }

header {
    display:flex; 
    justify-content:center; 
    position:fixed; 
    top:0px; 
    left:0px; 
    right:0px; 
    height: 100px;
}
header .backdrop{
    position: fixed;
    top:-100px;
    left:0px;
    right:0px;
    background-color: #fff;
    height: 100px;
    transition: all .3s;
    border-bottom: 1px solid #f7f7f7;
}
header nav a {
    display: inline-block;
    padding: .5rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.8rem;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
}
header nav a::after{
    content: '';
    width: 0px;
    height: 1px;
    background-color: #000;
    display: flex;
    transition: all .3s;
}
header nav a:hover::after{
    width: 100%;
}

.featured-panel{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.featured-panel a {
    text-decoration: none;
    font-size: 42px;
}
footer {
    margin-top:35px;
}
.footer-nav{
    display: flex;
    margin:40px 0px;
    justify-content: space-between;
}
.footer-nav span {
    display: inline-block;
    padding:10px;
}
.footer-nav span a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}
.footer-nav span a::after{
    content: '';
    width: 0px;
    height: 1px;
    background-color: #fff;
    display: flex;
    transition: all .3s;
}
.footer-nav span a:hover::after{
    width: 100%;
}

.footer-social{
    display: flex;
    display: block;
    width: max-content;
    padding: 0px 50px;
    text-align: center;
}
.footer-social a {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 5px;
    filter: invert(1);
}

.footer-terms {
    text-align: center;
}
.footer-terms p, .footer-terms a {
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    color: #b2b2b2;
}
.footer-terms a{
    margin:0px;
    display: inline-block;
    padding:2px 8px;
    text-decoration: none;
}
.footer-terms a::after{
    content: '';
    width: 0px;
    height: 1px;
    background-color: #b2b2b2;
    display: flex;
    transition: all .3s;
}
.footer-terms a:hover::after{
    width: 100%;
}

.input-signup{
    background-color: transparent;
    border:0px;
    border-bottom: 1px solid #fff;
    padding:10px;
    width: 100%;
    outline: none;
    height: 55px;
    width: 100%;
    max-width: 300px;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    background: 0 0;
}
.btn-signup{
    width:24px;
    height: 24px;
    border:0px;
    background-color: transparent;
    background-image: url(/pb/public/images/icons/plus.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    position: absolute;
    right:0px;
}

/** GENERIC **/

.maxw-1440-px {
    max-width: 1440px;
}

.maxw-1170-px {
    max-width: 1170px;
}

.ws-100-vw {
    word-spacing: 100vw;
}

.inverted { filter: invert(1); }