:root{
    --color-1 : #fff;
    --color-2 : #1C1D21;
    --color-3 : #c7cfec;
    --color-4 : #dbe1f9;
    --color-5 : #f0bc2b;
    --color-6 : #686886;
    --color-7 : #f8f8fb;
    --color-8 : #44455b;
    --color-9 : #e83e8c;
}