:root{
    --font : Lato;
    --font-size : .94rem;
    --font-color-1 : rgb(26, 32, 44);
    --font-color-2 : rgba(26, 32, 44, .7);
    --font-color-3 : #ff0c00;
    --font-color-4 : #e83e8c;
    --border-color-1 : #f0f0f3;
    --border-color-2 : #b8c5d2;
    --border-color-focus : #5e81f4;
    --color-1: #fff;
    --color-2 : #1C1D21;
    --color-3 : #f5f5fa;
    --color-4 : #dbe1f9;
    --color-5: #5e81f4;
    --color-6:#686886;
}

html, body { height: 100%; }
body { 
    display: flex;
    flex-direction: column;
    flex : 1 ;
    background-color: #fff; 
    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--color-2);
    margin: 0px;
}
a { text-decoration: none; color: inherit; font-weight: 500; }

.app-bar{
    width:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed; 
    top:0px; 
    left:0px; 
    bottom:0px;
}

.app-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 4px;
}
.app-bar-item svg{
    fill : #8a8aac; 
}
.app-bar-item-selected {
    background-color: var(--color-4);
}
.app-bar-item:hover svg, .app-bar-item-selected svg {
    fill: #343434;
}



.grid {
    width: 100%;
    border-collapse: collapse;
}

input[class="input-1"],
select[class="input-1"],
textarea[class="input-1"],
input[type="text"], 
input[type="password"],
input[type="date"], 
textarea, select {
    width : 100%;
    border : 1px solid var(--border-color-1);
    padding : 12px;
    border-radius : 4px;
    outline : none;
    resize : none;
    background-color : #fff;
    font-family : var(--font);
    font-size : var(--font-size);
    color : var(--font-color);
}

input[class="input-1"],
select[class="input-1"],
textarea[class="input-1"]{
    border : 1px solid var(--border-color-2);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, textarea:focus, select:focus {
    border : 1px solid var(--border-color-focus);
    box-shadow : 0px 1px 3px #ddd inset;
}