:root{
    --font : Lato;
    --font-size : .94rem;
    --color-1: #fff;
    --color-2 : #1C1D21;
    --color-3 : #eaeef2;
    --color-4 : #dbe1f9;
    --color-5: #5e81f4;
    --color-6 : #686886;
    --color-7 : #f9f7f7;
}

html, body { height: 100%; }
body { 
    display: flex;
    flex-direction: column;
    flex : 1 ;
    background-color: #fff; 
    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--color-2);
    margin: 0px;
}
a { text-decoration: none; color: inherit; font-weight: 500; }
ul { list-style-type: none; padding:0px; margin: 0px; }

.app-bar{
    background-color: #33344a;
    width:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed; 
    top:0px; 
    left:0px; 
    bottom:0px;
}

.app-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 4px;
}
.app-bar-item svg{
    fill : #fff; 
}
.app-bar-item-selected {
    background-color: var(--color-5);
}
.app-bar-item:hover svg, .app-bar-item-selected svg {
    fill: #fff;
}

.app-panel{
    display : flex;
    flex-direction: column; 
    min-width: 600px;
    max-width: 600px;
}
.app-panel .container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid #fff;
    border-bottom: 1px solid var(--color-7);
}
.data-row-selected {
    background-color: #f6f8fb;
    border-left: 4px solid var(--color-5);
}

.attr-orange, 
.attr-green {
    font-weight:700;  
    display:inline-block; 
    border-radius:4px; 
    font-size: 10px;
    text-transform: uppercase;
    padding:5px 10px; 
    background-color: #f4ecdc; 
    color:orange; 
}

.attr-green{
    background-color: #d8f4e5;
    color: #4a6c5a;
}



input[class="input-1"],
select[class="input-1"],
textarea[class="input-1"],
input[type="text"], 
input[type="password"],
input[type="date"], 
textarea, select {
    width : 100%;
    border : 1px solid var(--color-4);
    padding : 12px;
    border-radius : 4px;
    outline : none;
    resize : none;
    background-color : #fff;
    font-family : var(--font);
    font-size : var(--font-size);
    color : var(--font-color);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, textarea:focus, select:focus {
    border : 1px solid var(--color-5);
    box-shadow : 0px 1px 3px #ddd inset;
}